
body{ 
    color:white; 
    background-color:rgb(50, 50, 50);
}

.Job {
    border: 2px;
    width:25%;
    border-color: white;
    border-style: solid;
    font-family:'Courier New', Courier, monospace ;
}
.altbackground{
background-color:rgb(35,35,35);
}

#subparagraphs{
    font-size: medium;
}