/* general styling */
body {
    color:white;
    background-color: rgb(35,35,35);
}

.box {
    background-color: rgb(50,50,50);
    border:2px solid white;
    padding:15px;
}

/* link styling */

.link {
    width:200px;
}
a:link, a:visited{
    color:white;
}

a:hover{
    color:black;
    background-color: white;
}

/* Work Box styling */

.job {
    /*border: 2px;
    width:100%;
    border-color: white;
    border-style:solid;
    padding: 1em;*/
    font-family: Verdana, Tahoma, sans-serif;
    font-size:100%;
    
}

.date {
font-size: .75em;    
}

.title {
font-size:2em;
}

.description {
font-size: 1.25em;
}

.column {
    float:left;
    padding: 10px;
}

.column.side{
    width:25%;
}

.column.middle{
    width:50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }



/* organization?

.column {
    
    float:left;
    padding:10px;
    border:2px;
    border-color: white;
    border-style: solid;
}

.column.links {
    width:25%;
    border:2px;
    border-color: red;
    border-style: solid;
}
.column.content {
    width:50%;
    border:2px;
    border-color: blue;
    border-style: solid;
}

Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
    border:2px;
    border-color: green;
    border-style: solid;
  }


@media screen and (max-width:1000px) {
    .column.links{
        width:100%;
    }
    .column.middle{
        width:50%;
    }
}
@media screen and (max-width: 600px) {
    .column.links, .column.middle{
        width:100%;
    }
  }
  */