/*
Boland Unfug
November 23rd 2022
Here will be the styles for my CV/portfolio.
Structure
Divided into Content and Navbar, and being mobile and desktop compatable (and tablet if I have time)
The content container is scrollable, and must be able to register on screen pages (js TODO)
Content will be divided into pages, each page is one screen size and holds a category such as menu
Each page has an ID for easy js manipulation, as well as for links.
all containers and elements within Content will be dynamic, using percentages and flex

The Navbar will be flexible but fixed so as to not scroll, and will move to top of screen for mobile
Links will show current page, change opacity on hover, and animate the scroll animation when clicked


Style style
comments
organization (flex, wrap, etc)
positioning and sizing
borders padding and margins
fonts
colors
animations
*/

/* Universal Content */

* {
    box-sizing: border-box;
}

body {
    /*background-color: rgb(80, 80, 80);*/
    font-family: 'Ibarra Real Nova', serif;
    color: red;
    background-color: purple;
}

img {
    object-fit: cover;
    size: 100%;
    /*TODO*/
}

a {
    text-decoration: none;
    color: white;
}

/* Navigation Bar organization and styles */
#navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgb(60, 60, 60);

}

.link {
    transition: opacity 400ms ease;
}

.link:hover {
    opacity: 0.3;
}

/*Content styles and organization */
#content {
    /*background-color: rgb(80, 80, 80);*/
    height: 630vh;
    /* 100vh per section + padding*/
    background-color: aqua;
}

.page {
    /*background-color: rgb(60, 60, 60);*/
    display: flex;
    height: 100vh;
    background-color: greenyellow;
}

.page.current {
    /* background-color: red; */
}

.item {
    display: flex;
    flex-flow: column nowrap;
    font-size: large;
    background-color: rgb(40, 40, 40);

}

.date {
    font-size: medium;
}

.title {
    font-size: xx-large;
}

.description {
    font-size: large;
}

/* Unique Contents styles*/
#menu {
    align-items: center;
    justify-content: center;
    font-size: 500%;
}

#profilepic {

}

#biodescription {

}

#contactme {
    font-size: 100%;
    flex-flow: column wrap;
}

#contacticons {
    text-align: center;
    font-size: 333%;
}

#basicinfo {
    font-size: 200%;
}

@media only screen and (min-width: 801px) {

    #navbar {
        flex-flow:column wrap;
        width: 15vw;
        height: 100vh;
    }

    .link {
    font-size: 200%;
    }

    .link.current {
    font-size: 300%;
    }

    #content {
        width: 80vw;
        margin-left: 15vw;
    }

    .page {
        flex-flow: row wrap;
    }

    .item {
        /* figure out how to make the gap between each box the same as between box and border */
        width: 40%;
        height: 40%;
    }

    #profilepic {
        height: 90%;
        width: 50%;
    }

    #description {
        flex-flow: column wrap;
    }

    #contactme {
        height: 25%;
        width: 40%;
    }

    #biodescription {
        height: 55%;
        width: 40%;
    }

    #contacticons {
        width: 20%;
        height: 100%;
    }

    #basicinfo {
        width: 80%;
        height: 100%;
    }

    #skills {
        flex-direction: row;
    }

    #skillcharts {
        flex-direction: column;
        width: 55%;
        height: 90%;
    }

}

@media only screen and (max-width: 800px) {

    #navbar {
        flex-flow:row wrap;
        width: 100vw;
        height: 10vh;
    }

    .link {
    font-size: 125%;
    margin:5% 1%;
    }

    .link.current {
    font-size: 150%;
    }

    #content {
        width: 100vw;
        margin-top: 10vh;
    }

    .page {
        flex-flow: column nowrap;
    }

    .item {
        /* figure out how to make the gap between each box the same as between box and border */
        width: 90%;
        height: 20%;
    }

    #description {
        flex-flow: row wrap;
    }

    #profilepic {
        height: 50%;
        width: 60%;
    }

    #contactme {

        height: 50%;
        width: 30%;
    }

    #biodescription {
        height: 40%;
        width: 100%;
    }

    #basicinfo {
        width: 100%;
        height: 60%;
    }

    #contacticons {
        width: 100%;
        height: 20%;
    }

    #skills {
        flex-direction: column;
    }

    #skillcharts {
        flex-direction: column;
        width: 90%;
        height: 75%;
    }
}