/*
Boland Unfug
December 22nd 2022
A css file for universal styles
*/

/*
Style style
comments
organization (flex, wrap, etc)
positioning and sizing
borders padding and margins
fonts
colors
animations
*/

/* Universal Content */

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 80, 80);
    font-family: 'Ibarra Real Nova', serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    transition: opacity 400ms ease;
}

a:hover {
    opacity: 0.3;
}

/* Navigation Bar organization and styles */
#navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgb(80, 80, 80);

}

/*Content styles and organization */
#content {
    background-color: rgb(80, 80, 80);
    height: 630vh;
    /* 100vh per section + padding*/
}

.page {
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:2.5%;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    font-size: large;
    background-color: rgb(40, 40, 40);
    margin:2.5%;
    padding: 2.5%;

}

.date {
    font-size: 100%;
}

.title {
    font-size: 200%;
}

.description {
    font-size: 125%;
}